body {
  background: #74112f;
  color: #f3e3e2;
  text-align: center;
}

ul { 
  position: relative;
}

nav * {
  z-index: 3;
}

header {
  font-size: 30px;
}

ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #0c0c1e;
  width: 100%
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #1b2e3c;
}

.list1 {
  padding-right: 400px;

}

h1 {
  font-size: 60px;
}

label {
  font-size: 30px;
}

input {
  background-color: #d14c6f;
  border-color: #bb3c5e;
  color: #f3e3e2;
  font-size: 30px;
}

p {
  font-size: 20px;
}

button {
  background-color: #0c0c1e;
  color: #f3e3e2;
  font-size: 20px;
}