body {
  background: #f5f5f5;
  color: #fff;
  text-align: center;
}

ul {
  position: relative;
}

nav * {
  z-index: 3;
}

header {
  font-size: 30px;
}

ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #48576b;
  width: 100%;
  top:0;
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #4682b4;
}

.list1 {
  padding-right: 400px;
}

p {
  color:#48576b;
  height: 330px;
  font-size: 22px;
  line-height: 1.8;
}

#start {
  color:#48576b;
  margin-top: 68px;
}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  margin-top: 68px;
}

.left {
  left: 0;
  background-color: #c08497;
}