ul { 
  position: relative;
}

nav * {
  z-index: 3;
}

header {
  font-size: 30px;
}

ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #48576b;
  width: 100%
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #4682b4;
}

.list1 {
  padding-right: 400px;

}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #f5f5f5;
}

.right {
  right: 0;
  background-color: #f5f5f5;
}

.ticket {
  margin-top: 5%;
  background-color: #94a7ba;
  border-color: #001f3f;
  color: #fff;
  width: 20%;
  text-align: center;
  border-radius: 15%;
  margin-left: 30%;
  padding-left: 10%;
  padding-right: 10%;
}

.ticket:hover {
  background-color: #001f3f;
}

#create {
  margin-top: 10%;
  background-color: #a98ab0;
  border-color: #7d4b6a;
  color: #fff;
  width: 40%;
  text-align: center;
  margin-left: 30%;
  padding: 3% 10% 3% 10%;
  cursor: pointer;
  font-size: 30px;
}

#create:hover {
  background-color: #7d4b6a;
}

.ticketDesc {
  background-color: #a98ab0;
  border-color: #7d4b6a;
  color: #fff;
  margin-top: 10%;
  width:85%;
  text-align: center;
  padding: 3% 3% 3% 3%;
}

p {
  font-size: 20px;
}