ul { 
  position: relative;
}

nav * {
  z-index: 3;
}

header {
  font-size: 30px;
}

ul {
  position: fixed;
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #5a3e79;
  width: 100%
}

li {
  float: left;
}

li a {
  display: block;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li:hover {
  background-color: #c197d2;
}

.list1 {
  padding-right: 400px;

}

.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

.left {
  left: 0;
  background-color: #3a5673;
}

.right {
  right: 0;
  background-color: #4297a0;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
}

.centered button {
  background-color: #a98ab0;
  color: #f3e3e2;
  font-size: 35px;
}

.centered button:hover {
  background-color: #a98ab0;
}

.ticket {
  background-color: #4297a0;
  color: #f3e3e2;
  width: 20%;
  text-align: center;
  border-radius: 15%;
  margin-left: 30%;
  padding-left: 10%;
  padding-right: 10%;
}

#ticket1 {
  margin-top: 10%;
}

.ticketDesc {
  color: #f3e3e2;
}